<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <h1>URL Shortener <span> ~SOMU</span></h1>

    <div class="container">
      <% if (locals.id) { %>
      <p>
        URL Generated for [ <%= redirectUrl %> ] :
        <a href="http://localhost:3000/url/<%= id %>" target="_blank"
          >http://localhost:3000/url/<%= id %></a
        >
      </p>
      <% } %>
      <div>
        <button class="analytics" onclick="window.location.href='/'">
          <%= locals.name %>
        </button>
        <form action="/url" method="post">
          <label for="url">Enter Original URL</label>
          <input
            type="text"
            id="url"
            name="url"
            placeholder="https://example.com"
          />
          <button type="submit">Shorten URL</button>
        </form>
      </div>
      <div>
        <% if (locals.urls) { %>
        <table>
          <thead>
            <tr>
              <th>S.No</th>
              <th>ShortID</th>
              <th>Redirect URL</th>
              <th>Total Clicks</th>
              <th>Last Clicked on:</th>
            </tr>
          </thead>
          <tbody>
            <% urls.forEach((url,index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= url.shortId %></td>
              <td><%= url.redirectUrl %></td>
              <td class="clicks"><%= url.totalClicks %></td>
              <td>
                <% if (url.totalClicks != 0 ) { %> <%=
                url.visitHistory[url.visitHistory.length-1] %> <% } else { %> No
                History Available <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
      </div>
    </div>
  </body>
</html>
